<%= render partial: "search" %>

<section class="latest-box">
  <div class="container">
    <div class="row mb-5 align-items-center">
        <div class="col">
          <h4 class="mb-0">投稿一覧</h4>
        </div>
    </div>
    <div class="row row-cols-3">
      <%= render partial: "post", collection: @posts %>
    </div>
    <%= paginate @posts %>
  </div>
</section>

<section class="like-box">
  <div class="container">
    <div class="info-box">
      <div class="row">
        <div class="col-12">
          <h4 class="text-center mb-5">Test-Appの使い方</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-4 p-2">
          <div class="container">
            <div class="info-box-show">
              <div class="row justify-content-center">
                <div class="col-12">
                  <h5 class="text-center pt-3">探してみる</h5>
                  <p class="p-3">毎日たくさんの投稿が共有されています。<br>様々な条件から2人にとって最適な場所を選べます。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 p-2">
          <div class="container">
            <div class="info-box-show">
              <div class="row justify-content-center">
                <div class="col-12">
                  <h5 class="text-center pt-3">行ってみる</h5>
                  <p class="p-3">行ってみたい場所を見つけたら、実際にデートを。<br>2人にとって、いつもより良いデートになるかも。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 p-2">
          <div class="container">
            <div class="info-box-show">
              <div class="row justify-content-center">
                <div class="col-12">
                  <h5 class="text-center pt-3">共有する</h5>
                  <p class="p-3">オススメの場所やお気に入りの場所などは、ぜひ共有してください。<br>投稿ボタンから、たった5分で簡単に投稿できます。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>