<%= render partial: "search" %>

<div class="container">
  <div class="row mb-5 align-items-center">
      <div class="col">
        <h4 class="mb-0">検索結果</h4>
      </div>
  </div>
  <div class="row row-cols-3">
    <%= render partial: "post", collection: @posts %>
  </div>
</div>