// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-box input[type="submit"] {
  padding: 0.3em 0.7em;
  border: 1px #9c9c9c solid;
  border-radius: 3px;
  background: linear-gradient(to bottom, #f0f0f0, #e6e6e6);
}

.comment-box input[type="submit"]:hover {
  background: #d6d6d6;
  cursor: pointer;
}