// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-top {
  padding: 7em 0;
  background-color: #242424;
}

.latest-box {
  padding: 5em 0;
  background-color: #fdfdfd;
}